.slot {
  max-width: 1140px;
  margin: auto;
  margin-top: 30px;
}

.unfocused {
  color: var(--cx-color-light) !important;
}

.nounderline {
  text-decoration: none !important
}

.black {
  color: var(--cx-color-dark) !important;
}

.cx-product-container {
  margin: 40px 0;
}
