<ng-container *ngIf="activeUser$ |async as activeUser else loading">
  <!-- Quantity -->
  <div class="quantity" *ngIf="productCode && showQuantity">
    <label>{{ 'addToCart.quantity' | cxTranslate }} </label>
    <cx-item-counter
      [value]="quantity"
      isValueChangeable="true"
      [min]="1"
      [max]="maxQuantity || null"
      *ngIf="hasStock"
      (update)="updateCount($event)"
    ></cx-item-counter>

    <!-- Stock information -->
    <span class="info">{{
      hasStock
        ? ('addToCart.inStock' | cxTranslate)
        : ('addToCart.outOfStock' | cxTranslate)
      }}</span>
  </div>

  <!-- Add to cart button -->
  <ng-container *ngIf="entries$ |async as entries">
    <button
      *ngIf="hasStock"
      class="btn btn-primary btn-block"
      type="button"
      [disabled]="quantity <= 0 || quantity > maxQuantity"
      (click)="addEntryToCart(activeUser, entries)"
    >
      {{ 'addToCart.addToCart' | cxTranslate }}
    </button>
  </ng-container>
</ng-container>
<ng-template #loading>
  <div class="cx-spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>
