.cx-remove-btn {
  text-align: right;
  padding-left: 0;
  padding-right: 0;
}

.bold {
  font-size: var(--cx-font-size, 1.125rem) !important;
  font-weight: var(--cx-font-weight-bold) !important;
  color: var(--cx-color-dark) !important;
}

